body {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  /*display: flex;
  flex-direction: column;*/
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}

button {
  color: white;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 16px 0px;
  font-weight: 500;
  font-size: 18px;
}

img {
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
}
.small {
  max-width: 700px;
  max-height: 700px;
}

.header,
.footer,
.main {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}
.footer {
  padding: 32px;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  padding: 36px 100px 100px;

  gap: 50px;
}

/* Hero main text */
.maintext {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
  padding: 20px 100px 100px;
  margin: 0 200px;
}

/* Hero secondary text & header link text */
.secondary,
.headerlinks {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* header Logo Text*/
.headerlogo {
  font-size: 24px;
  color: #f9faf8;
}

.picinfo {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.quotecontainer {
  background-color: #e5e7eb;
  padding: 100px 290px 100px;
}

.author {
  font-weight: bold;
  font-size: 24px;
}

div.calltoaction {
  border-radius: 5px;
  background-color: #3882f6;
  color: #fff;
  margin: 100px 200px;
  padding: 36px 100px;

  display: flex;
  flex-direction: column;
}

button.calltoaction {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 8px;

  float: right;
}

p.calltoaction {
  font-weight: 300;
}
